@import "reset";
@import "vars";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "reset";

body {
  color: $defaultFontColor;
  background: $defaultBackgroundColor;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;

}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.welcome__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__navigation li {
  list-style: none;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.welcome__navigation li a {
  display: block;
  color: $defaultLinkColor;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 18px;

  &:hover {
    color: $defaultLinkHoverColor;
  }

  &.active {
    border-bottom: 2px solid $defaultLinkHoverColor;
    color: $defaultLinkHoverColor;
  }
}

