<template>
    <div>
        {{message}}
    </div>
</template>

<script>

    module.exports = {
        data(){
            return {
                message: 'О сайте'
            };
        },
    }
</script>
